/* Set font for all text in webpage */
body {
    font-family: 'Raleway', sans-serif;
    padding: 5%;
}

header {
    background-color: #EE9886;
}

h1 {
    font-size: 45pt;
    text-align: center;
}

h2, h3 {
    padding: 0.2cm 0.2cm 0.2cm 0.2cm;
}

a {
    text-decoration: none;
}

a :visited {
    color: black;
}

#nav-bar {
    text-align: center;
    padding: 10px;
}

.nav-item {
    font-size: 16pt;
    list-style-type: none;
    display: inline;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.nav-item :hover {
    color: rgb(151, 137, 134);
}

.entry {
    background-color: hsl(54, 27%, 87%);
    border-style: solid;
    border-color: aliceblue;
    border-width: 1em;
    border-radius: 2vh;
    display: block;
}

.entry-list-item {
    list-style-type: square;

}

 section p {
     padding: 1.05vw;
 }

 [class=entry-list] {
    margin-left: 40px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
 }

 details > summary {
     margin: 10px 10px 10px 10px;
 }

 #songs {
     display: flex;
     flex-direction: column;
     justify-content: center;
     flex-grow: 2;
 }

* {
    margin: 0;
    padding: 0;
}