/* Set font for all text in webpage */
body {
    font-family: 'Raleway', sans-serif;
    padding: 5%;
}

header, nav {
    background-color: #EE9886;
}

h1 {
    font-size: 45pt;
    text-align: center;
}

h2, h3 {
    padding: 0.2cm 0.2cm 0.2cm 0.2cm;
}

a {
    text-decoration: none;
}

a :visited {
    color: black;
}

#nav-bar {
    text-align: center;
    padding: 10px;
}

.nav-item {
    font-size: 16pt;
    list-style-type: none;
    display: inline;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.nav-item :hover {
    color: rgb(151, 137, 134);
}

.nav-item :active {
    color: black;
}

/* First nav tag immediately after h1 tag */
h1 + nav {
    position: static;
}

nav {
    position: sticky;
    top: 0;
}

.entry {
    background-color: hsl(54, 27%, 87%);
    border-style: solid;
    border-color: aliceblue;
    border-width: 1em;
    border-radius: 2vh;
    display: block;
}

.entry-list-item {
    list-style-type: square;
}

 section p {
     padding: 1.05vw;
 }

 [class=entry-list] {
    margin-left: 40px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
 }

 details > summary {
     margin: 10px 10px 10px 10px;
 }

 #songs {
     display: flex;
     flex-direction: column;
     justify-content: center;
     flex-grow: 2;
 }

 p ~ input {
     padding: 5px;
 }

 form {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     grid-template-rows: 100%;
     place-self: center;
     background-color: aliceblue;
 }

 form > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 50%;
    max-width: 50%;
    min-width: 0%;
 }

 fieldset.form-fieldset {
     margin: 50px;
     padding: 10px;
     width: fit-content;
     height: fit-content;
     text-align: center;
 }

 form p {
     padding: 10px;
 }

* {
    margin: 0;
    padding: 0;
}