body {
    font-family: 'Raleway', sans-serif;
    padding: 5%;
}

header {
    background-color: #EE9886;
}

h1 {
    font-size: 45pt;
    text-align: center;
}

a {
    text-decoration: none;
}

a :visited {
    color: black;
}

#nav-bar {
    text-align: center;
    padding: 10px;
}

.nav-item {
    font-size: 16pt;
    list-style-type: none;
    display: inline;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.nav-item :hover {
    color: rgb(151, 137, 134);
}

* {
    margin: 0;
    padding: 0;
}